[submodule "dependencies/SDL"]
	path = dependencies/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "dependencies/shuild"]
	path = dependencies/shuild
	url = https://github.com/omerfuyar/shuild.git
[submodule "dependencies/shu"]
	path = dependencies/shu
	url = https://github.com/omerfuyar/shu.git
